:root{
    --body-background-color: #f5f6f7;
    --font-color: #4e4e4e;
    --border-gray-color : #dadada;
    --naver-green-color: #04c75a;
    --naver-green-border-color: #06b350;
}

*{
    margin:0;
    padding:0;
}

body{
    background: url('https://api.iconify.design/vs-kakaotalk.svg') no-repeat center center / contain;
    background:var(--body-background-color);
}

.main-container{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top: 21px;
}
.main-container .main-wrap{
    width:768px;

}
.main-container .main-wrap .sel-lang-wrap .lang-select
{
    width: 96px;
    height: 30px;
    color: var(--font-color);
    border: solid 1px var(--border-gray-color);
}
.main-container .main-wrap .logo-wrap{
    padding-top:30px;
}
.main-container .main-wrap .logo-wrap img
{
    width: 465px;
    height: 300px;
    background-color: #f5f6f7;

}

.main-container .main-wrap header .sel-lang-wrap{
    display:flex;
    justify-content:flex-end;
}

.main-container .main-wrap header .logo-wrap{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.signup-input-section-wrap{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-input-wrap{
    width: 465px;
    height :48px;
    border: solid 1px var(	--border-gray-color );
    background: white;
}
.password-wrap{
    margin-top: 13px;
}
.signup-input-wrap input{
    border: none;
    width:430px;
    margin-top: 10px;
    font-size: 14px;
    margin-left: 10px;
    height:30px;
}
.signup-button-wrap {
    padding-top: 13px;
}
.signup-button-wrap button{
    width: 465px;
    height :48px;
    font-size: 18px;
    background: var(--naver-green-color);
    color: white;
    border: solid 1px var(--naver-green-border-color);
}
.signup-stay-sign-in{
    width: 465px;
    height: 52px;

    display: flex;
    font-size: 15px;
    color: #4e4e4e;
    align-items: center;
    justify-content: flex-start;
    border-bottom: solid 1px var(--border-gray-color);
}
.signup-stay-sign-in i{
    font-size: 25px;
    color: #9ba1a3;
}
.signup-stay-sign-in span{
    padding-left: 5px;
    line-height: 25px;
}
